.dialogs {
  width: 100%;

  overflow: auto;
overflow-x: scroll;
  
}

.dialogs__wrapper{
  width: 1150px;
  max-width: 1150px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  
}
.dialogs__wrapper_right {
  justify-content: flex-end;
}

.dialogs__avatar{
  width: 5rem;
  height: 5rem;
  display: block;
  object-fit: cover;
  border-radius: 5rem;

}
.dialogs__item {
  margin-left: 1.5rem;
}
.dialogs__name {
  font-size: 1.5rem;
  font-weight: 600;
}
.dialogs__time {
  font-size: 1.1rem;
  opacity: 50%;
}
/* MESSAGE */
.message {
  margin-top: 1.2rem;
  display: inline-block;
  margin-left: 2rem;
padding: 1rem;
  position: relative;
  margin-bottom: 2rem;
  max-width: 26rem;
  font-size: 1.5rem;
}
.message_right {
margin-left: 92rem;
}
.message::after {
  background-color: blue;
  opacity: 0.1;
width: 100%;
height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 1;
}