/* -------SIDEBAR------- */

.sidebar__wrapper {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 6rem; 
max-width: 23rem;
overflow-y: scroll;
position: fixed;
margin-top: 7.5rem;
}

/* NAVBLOCK */ 
.navblock {
  background-color: white;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1.3rem;
}
 .navblock__title{
  margin-bottom: 1rem;
  font-size: 1.2em;
  opacity: 30%;
  font-weight: 500;
}
.navblock__item {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
}
.navblock__img {
  width: 4.5rem;
  height: 4.5rem;
}

.navblock__link {
  color: #6a6a6a;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1rem;
  font-size: 1.3rem;

}
 .navblock__link:hover {
 color: #A66B00; 
}

