/* -------HEADER------- */
/* LOGO */
.logo__img {

  max-width: 13rem;
  max-width: 10rem;
  
}
.header__container {
  max-height: 12.5rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

/* SEARCH */
.search__container {
  width: 25rem;
  display: flex;
  justify-content: flex-start;
}
.search {
  width: 100% ;
  background-color:#e5e5e9;
  border-radius: 10rem;
}
.search__input {
  width: 100%;
display: block;
padding: 1.2rem;
background: transparent;
border: none;
font-size: 1.2rem;
outline: none;
height: 2.5rem;
}
.search__input::placeholder {
  font-size: 1rem;
}

/* MENU */
.header__list {
  display: flex;
}
.header__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__link img {
  display: block;
  max-width: 3rem;
  max-height: 3rem;
  height: 2.5rem;
  width: 2.5rem;
}
.header__link img:hover {
background: transparent;
transition-duration: 1s;
transform: scale(1.1);
}
/* ICONS */
.icons__list {
  display: flex;
}
.icons__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.icons__link img {
  display: block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  
}