/* -------HEADER------- */

.header {
height: 7.7rem;
max-height: 10rem;
border-bottom: solid 1px black;
z-index: 10;
position: fixed;
background-color: white;
width: 100%;
top: 0;
left: 0;
display: block;


}
.logo__img {
max-width: 17rem;

}
.header__container {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

/* SEARCH */
.search__container {
  width: 30rem;
}
.search {
  width: 100% ;
  background-color:#e5e5e9;
  border-radius: 10rem;
}
.search__input {
  width: 100%;
display: block;
padding: 1.5rem 2rem;
background: transparent;
border: none;
outline: none;
}


.search__input::placeholder {
  font-size: 1.3rem;
}

/* MENU */
.header__list {
  display: flex;
}
.header__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__link img {
  display: block;
  max-width: 3.5rem;
  max-height: 3.5rem;
}
.header__link img:hover {
background: transparent;
transition-duration: 1s;
transform: scale(1.1);
}
/* ICONS */
.icons__list {
  display: flex;
}
.icons__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.icons__link img {
  display: block;
  max-width: 3.5rem;
  max-height: 3.5rem;
  
}