/* -------SIDEBAR------- */


.sidebar__wrapper {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 6rem; 
max-width: 25rem;
position: absolute;
right: 0;
top: 0;
margin-top: 7.5rem;
margin-right: .5rem;
}

/* NAVBLOCK */ 
.navblock {
  background-color: white;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  margin-bottom: 1.3rem;
 
}
 .navblock__title{
  margin-bottom: 1rem;
  font-size: 1.2em;
  font-weight: 600;
  color: black;
  display: flex;
  justify-content: space-between;
}
.navblock__title span a{
 color:  blue;
  text-decoration: none;
  
}
.navblock__title span:active {
  color: blue;
}

.rightbar_request {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rightbar_request_confirm {
  margin-top: 1rem;
  background-color: #f5f5f5;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.navblock_avatar img{
display: block;
width: 7rem;
height: 7rem;
object-fit: cover;
border-radius: 5rem;
}
.nablock_avatar_confirm img{
  width: 5rem;
height: 5rem;
display: block;
object-fit: cover;
border-radius: 5rem;

}
.rightbar_name {
  margin-top: .2rem;
}
.rightbar_name a {

  color:  black;
}
.rightbar_name p {
  font-size: 1.4rem;
  color:  black;
  font-weight: 600;
}
.rightbar_name span { 
font-size: 1.2rem;
color: black;
opacity: 40%;
}
.btn {
margin-top: 2rem;
display: flex;
justify-content: space-around;
align-items: center;
}
.btn__blue {
  background-color: #185DD6;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 5rem;
  color:  white;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}
.btn__gray {
  background-color: #eee;
  border: none;
  padding: 1rem 3rem;
  border-radius: 5rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}