.stories_wrapper {
  width: 88rem;
  margin: 0 auto;
  height: 100%;
 

}
.stories {
  display: grid;
  grid-template-columns: repeat(5, 14.55rem);
  grid-template-rows: 22rem;
  grid-column-gap: 1.3rem;
  justify-content: center;
}
.stories__item {
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1;
  position: relative;

}
.stories__item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories__avatar {
  border: 1.3px solid white;
display: block;
position: absolute;
bottom: 0;
right: 0;
left: 0;
margin: 4rem auto;
height: 50px;
width: 50px;

border-radius: 3rem;
}
.stories__author {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 89%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
}
.stories__avatar img {
  z-index: 2;
  border-radius: 10rem;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}