* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  height: 200vh;
}
/* -------HEADER------- */

.header__container {
  max-height: 12.5rem;
  padding: 1.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;

}

/* SEARCH */
.search__container {
  width: 25rem;
  display: flex;
  justify-content: flex-start;
}
.search {
  width: 100% ;
  background-color:#e5e5e9;
  border-radius: 10rem;
}
.search__input {
  width: 100%;
display: block;
padding: 1.2rem;
background: transparent;
border: none;
font-size: 1.2rem;
outline: none;
height: 2.5rem;
}
.search__input::placeholder {
  font-size: 1rem;
}

  /* MENU */
.header__list {
  display: flex;
}
.header__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header__link img {
  display: block;
  max-width: 3rem;
  max-height: 3rem;
  height: 2.5rem;
  width: 2.5rem;
}
.header__link img:hover {
background: transparent;
transition-duration: 1s;
transform: scale(1.1);
}
/* ICONS */
.icons__list {
  display: flex;
}

.icons__item {
  padding-left: 1rem;
  padding-right: 1rem;
}
.icons__link img {
  display: block;
  max-width: 2.5rem;
  max-height: 2.5rem;
  
}


/* -------SIDEBAR------- */
.sidebar__wrapper {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.7rem 0; 
max-width: 17rem;
overflow-y: scroll;
z-index: 10;
position: fixed;
margin-top: 5rem;

}

/* LOGO */
.logo__img {

  max-width: 13rem;
  max-width: 10rem;
  
}

/* FEEDS */ /* MORE PAGES */
.feeds {
  margin-bottom: 1.3rem;
}
.feeds, .morepages {
  background-color: white;
  border-radius: 1rem;
  padding: 0.8rem 1rem;
}
.feeds__title, .morepages__title{
  margin-bottom: 1rem;
  font-size: 0.9em;
  opacity: 30%;
  font-weight: 500;
}
.feeds__item, .morepages__item {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
}
.feeds__item img, .morepages__item img{
  width: 3rem;
  height: 3rem;
}
.feeds__link, .morepages__link {
  color: #6a6a6a;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1rem;

}
.feeds__link:hover, .morepages__link:hover {
 color: #A66B00; 
}

